<h2> New Book Listing </h2>
<%= form_for(@user_book) do |f| %>
  <% if @user_book.errors.any? %>
    <div class="error">
      <h4><%= pluralize(@user_book.errors.count, "error") %> prohibited this book from being saved:</h4>

      <ul>
        <% @user_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>

      <div>
        <label><%= f.label :title %></label>
        <%= f.text_field :title  %>
      </div>
      <div>
        <label><%= f.label :author %></label>
        <%= f.text_field :author %>
      </div>
      <div>
        <label><%= f.label :price %></label>
        <%= f.number_field :price, hint: "prices should be in USD" %>
      </div>
      <div>
        <label><%= f.label :condition %></label>
        <%= f.text_field :condition %>
      </div>
      <div>
        <label><%= f.label :description %></label>
        <%= f.text_area :description %>
      </div>
      <div>
        <label><%= f.label :status %></label>
        <%= f.text_field :status %>
      </div>
      <div>
        <%= f.submit value: "Submit Book", class: 'button' %>
      </div>
<% end %>
