  <h2 class="text-center page-title"> New Book Listing </h2>
  <div class="row">
    <div class="small-8 small-centered columns">
    <%= form_for([@book, @user_book]) do |f| %>
      <% if @user_book.errors.any? %>
        <div class="error">
          <h4><%= pluralize(@user_book.errors.count, "error") %> prohibited this book from being saved:</h4>

          <ul>
            <% @user_book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.hidden_field(:book_id, value: @book.id) %>
        <label><%= f.label :price, class: "left" %></label>
        <small class="right">Required</small>
        <%= f.number_field :price, hint: "prices should be in USD" %>
      </div>
      <div>
        <label><%= f.label :condition, class: "left" %></label>
        <small class="right">Required</small>
        <%= f.text_field :condition %>
      </div>
      <div>
        <label><%= f.label :description, class: "left" %></label>
        <%= f.text_area :description %>
      </div>
      <div>
        <label><%= f.label :status, class: "left" %></label>
        <%= f.text_field :status %>
      </div>
      <div class="text-center">
        <%= f.submit value: "Submit Book", class: "button" %>
      <% end %>
    </div>
  </div>
</div>
